@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #07058D;
}

/* Tela Inicial */
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d60808;
    z-index: 999;
    text-align: center;
}

.header.active{
    background-color: #d60808;
}

a{
    color: #24252A;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.a-menu{
    color: black;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    font-size: 26px;
    border: 2px solid black;
}

.a-menu:hover{
    color: #d60808;
    background-color: black;
}

.a-menu-inicial{
    color: black;
    text-decoration: underline;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    font-size: 26px;
    border: 2px solid black;
}

.a-menu-inicial:hover{
color: #d60808;
background-color: black;
}

.logo img{
    margin-top: -20px;
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: 'Lobster', cursive; */
     height: 8vh;
}

.nav-list{
list-style: none;
display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}



/* 
@media (max-width: 999px){

    .alinhamento{
        position: relative;
    }
    form{
            
            min-width: 70vw;
            min-height: 60vh;
    }
    .eye{
        margin: auto;
        position:relative;
        width: 200px;
    }
    .input{
        margin-bottom: 20px;
        padding: 8px;
        outline: none;
        background-color: white;
        border: 0;
        width: 100%;
        height: 30px;
        color: black;
    }
} */


h1{
    margin-bottom: 50px;
    color: black;
}

form{
    width: 100%;
    max-width: 800px;
    background-color: rgb(206, 203, 203);
    padding: 50px;
    margin-top: 70px;
}

div.eye{
    width: 100%;
    margin: 30px 0;
    position: relative;
}

div.eye label{
    font-size: 16px;
    position: absolute;
    left: 0;
    cursor: text;
    transition: 0.5s ease-in-out;
    bottom: 5px;
    left: 5px;
}

div.eye .input{
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    color: black;
    border: 0;
    outline: none;
    font-size: 16px;
}

/* div.eye .input:focus,
div.eye .input:valid{
    border-bottom: 2px solid rgb(200, 200, 200);
} */

div.eye .input:focus ~ label,
div.eye .input:valid ~ label{
    transform: translateY(-30px);
    font-size: 12px;
    color: rgb(240, 240, 240);
}


input[type="submit"]{
    position: absolute;
    left: 50%;
    transform: translate(-50%); 
    text-align: center;
    outline: none;
    padding-right: 5px;
    background-color: whitesmoke;
    border: 1px solid gray;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

input[type="checkbox"]{
    outline: none;
    border: 0;
}

.cadastro{
    position: relative;
    z-index: 1;
    text-align: center;
    width: 80px;
    height: 30px;
    text-decoration: none;
    border: 1px solid gray;
    padding: 6px;
    color: black;
    background-color: whitesmoke;
    transition: 0.5ms ease-in;
}
  
.olhe {
    cursor: pointer;
    position: absolute;
    width: 20px;
    left: 90%;
    top: 6px;
}

h2{
    position: absolute;
    right: 47%;
    font-family:'Fjalla One', sans-serif;
}

#input > * {
    height: 1.3em;
    float: left;
  }
  
  #input img {
    cursor: pointer;
  }