@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --dark-color: #2d2c2c;
    --purple-solid: #faf7fc;
    --orange-transparent: rgba(9, 255, 0, 0.7);
    --yellow-transparent-alt: rgba(246, 212, 101, 0.2);
    --pink-transparent-alt: rgb(25, 117, 255);
    --pink-alt: rgb(42, 192, 252);
    --orange-light: #ff653a;
    --yellow-solid: #55aad1;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink-transparent-alt);
}

/* Tela Inicial */
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #c20303;
    z-index: 999;
    text-align: center;
}

.header.active{
    background-color: #c20303;
}

a{
    color: #24252A;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.a-menu{
    color: black;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    font-size: 26px;
}

.a-menu:hover{
    color: var(--pink-transparent-alt);
}

.a-menu-inicial{
    color: black;
    text-decoration: underline;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    font-size: 26px;
    border: 2px solid black;
}

.a-menu-inicial:hover{
color: var(--pink-transparent-alt);
}

.logo img{
    margin-top: -20px;
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     height: 8vh;
}

.nav-list{
list-style: none;
display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}



/* 
@media (max-width: 999px){

    .alinhamento{
        position: relative;
    }
    form{
            
            min-width: 70vw;
            min-height: 60vh;
    }
    .eye{
        margin: auto;
        position:relative;
        width: 200px;
    }
    .input{
        margin-bottom: 20px;
        padding: 8px;
        outline: none;
        background-color: white;
        border: 0;
        width: 100%;
        height: 30px;
        color: black;
    }
} */


h1{
    margin-bottom: 50px;
    color: black;
}

form{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 800px;
    background-color: rgb(184, 182, 182);
    padding: 50px;
    margin-top: 70px;
}

.eye{
    width: 100%;
    margin: 30px 0;
    position: relative;
}

.eye label{
    font-size: 16px;
    position: absolute;
    left: 0;
    cursor: text;
    transition: 0.5s ease-in-out;
    bottom: 5px;
    left: 5px;
}

.eye .input{
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    color: black;
    border: 0;
    outline: none;
    font-size: 16px;
}

/* div.eye .input:focus,
div.eye .input:valid{
    border-bottom: 2px solid rgb(200, 200, 200);
} */

div.eye .input:focus ~ label,
div.eye .input:valid ~ label{
    transform: translateY(-30px);
    font-size: 12px;
    color: rgb(240, 240, 240);
}


input[type="submit"]{
    outline: none;
    background-color: gray;
    border: none;
    padding: 6px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.justify{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

input[type="submit"]:hover{
    transform: translateY(-10px);
}

h2{
    color: black;
}
  
.olho {
    cursor: pointer;
    position: absolute;
    width: 20px;
    left: 90%;
    top: 6px;
}

#inpute > * {
    height: 1.3em;
    float: left;
  }
 

  i{
    width: 23px;
    height: 23px;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 3px;
  }