@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --orange-transparent: rgba(255, 87, 41, 0.7);
    --yellow-transparent-alt: rgba(246, 212, 101, 0.2);
    --pink-transparent-alt: rgba(158, 149, 255, 0.568);
    --pink-alt: rgba(158, 149, 255);
    --orange-light: #ff653a;
    --yellow-solid: #55aad1;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--pink-transparent-alt));
    --gradient-color-alt: linear-gradient(to right, var(--pink-transparent-alt), var(--yellow-solid));
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
 }


 body{ 
    font-family: 'Poppins', sans-serif;
     font-size: 1.6rem;
     color: var(--dark-color);
     overflow-x: hidden;
     background-color: gray;
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--yellow-solid);
    z-index: 999;
}

.header.active{
    background-color: var(--yellow-solid);
}

.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 0;
}

.hero::before{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background: var(--yellow-transparent-alt);
    z-index: -1;
}

.main-heading{
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5rem;

}

.title{
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle{
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'Courgette', cursive;
}

.btn{
    color: #fff;
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 3.5rem;
    border: 0;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
    transition: all 1s ease;
}

.btn-gradient{
    background-image: var(--gradient-color);
}

.btn-gradient:hover{
    background: var(--gradient-color-alt);
}

.dots{
    font-size: 2.4rem;
    margin-left: .5rem;
    opacity: .75;
}

a{
    color: #24252A;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.a-menu{
    color: #24252A;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    font-size: 26px;
}

.a-menu:hover{
    text-decoration: underline;
}

.a-menu-inicial{
    color: #24252A;
    text-decoration: underline;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    font-size: 26px;
}

.a-menu-inicial:hover{
color: var(--yellow-solid);
}

.logo h1{
    font-size: 30px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: 'Lobster', cursive; */
     height: 8vh;
}

main{
background-size: cover;
height: 92vh;
}

.nav-list{
list-style: none;
display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    transition: 0.5s;
    width: 32px;
    height: 2px;
    background: var(--dark-color);
    margin: 8px;
}

@media (max-width: 999px){
    body{
overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 9vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: var(--yellow-solid);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
        
    }
    .mobile-menu {
        display: block;
    }
    .a-menu:hover{
        color: var(--pink-alt);
    }
    .a-menu-inicial:hover{
        color: var(--pink-alt);
    }
}

@keyframes navLinkFade {
    from {
opacity: 0;
transform: translateX(50px);
    }
    to {
opacity: 1;
transform: translateX(0);
    }
}



.nav-list.active {
    transform: translateX(0);
}


.mobile-menu.active .linha1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .linha2{
    opacity: 0;   
}

.mobile-menu.active .linha3{
    transform: rotate(45deg) translate(-5px, -7px);
}


section{
    display: flex;
    position: absolute;
    background-color: white;
    width: 50vw;
    height: 86vh;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    width: 100%;
}

.item{
    display: flex;
    justify-content: center;
}

.input{
    width: 60%;
    outline: none;
    border: 0;
    border-bottom: 2px solid gray;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
}

.textarea{
    padding: 5px;
    width: 60%;
    height: 19vh;
    font-size: 20px;
    margin-bottom: 20px;
}

.title{
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
}

.input[type="submit"]{
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: gray;
    color: var(--dark-color);
}

@media (max-width:750px){
    .section{
        top: 60%;
        width: 100vw;
        height: 100vh;
    }
    .input{
        width: 80%;
    }
    .textarea{
        width: 80%;
    }
}