@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


:root {
    --dark-color: #2d2c2c;
    --purple-solid: #faf7fc;
    --orange-transparent: rgba(9, 255, 0, 0.7);
    --yellow-transparent-alt: rgba(246, 212, 101, 0.2);
    --pink-transparent-alt: rgb(25, 117, 255);
    --pink-alt: rgb(42, 192, 252);
    --orange-light: #ff653a;
    --yellow-solid: #55aad1;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--pink-transparent-alt));
    --gradient-color-alt: linear-gradient(to right, var(--pink-transparent-alt), var(--yellow-solid));
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Poppins', sans-serif;
}

body{
width: 100vw;
height: 100vh;
overflow-x: hidden;
overflow-y: hidden;
background-color:  var(--pink-transparent-alt);
font-family: 'Poppins', sans-serif;
}

/* Header */
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#c20303;
    z-index: 999;
    text-align: center;
}

.header.active{
    background-color:  #c20303;
}

a{
    color: #24252A;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.a-menu{
    color: black;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    transition: all 0.5s ease; 
    font-size: 26px;
}

.a-menu:hover{
    color: var(--pink-transparent-alt);
}

.a-menu-inicial{
    color: black;
    text-decoration: underline;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    font-size: 26px;
}

.a-menu-inicial:hover{
color: #f3f3f3;
}

.logo img{
    margin-top: -20px;
    width: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.nav-list{
list-style: none;
display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

/* Fim do Header */

h2{
    color: black;
}

h1{
    margin-bottom: 50px;
    padding-top: 15px;
    color: black;
}

form{
    background-color:  rgb(182, 179, 179);
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 35vw;
    height: 60vh;
    text-align: center;
}

/* .alinhamento{
    left: 50%;
    top: 50%;
    position: relative;
} */

.eye{
    margin: auto;
    position:relative;
    width: 300px;
}

.input::placeholder{
    color: black;
}

#div-input .input{
    margin-bottom: 20px;
    padding: 8px;
    outline: none;
    background-color: white;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.input{
    margin-bottom: 20px;
    padding: 8px;
    outline: none;
    background-color: white;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

input[type="submit"]{
    outline: none; 
    background-color: gray;
    border: none;
    border-radius: 10px;
    padding: 6px;
    transition: 0.5s;
    cursor: pointer;
}

input[type="submit"]:hover{
transform: translateY(-10px);
}

.cadastro{
    text-decoration: none;
    padding: 6px;
    color: black;
    background-color: gray;
    transition: 0.5s;
    border-radius: 10px;
}

.cadastro:hover{
    color: black;
    transform: translateY(-10px);
}
  
.olho {
    cursor: pointer;
    position: absolute;
    width: 27px;
    left: 88%;
}

h2{
    position: absolute;
    right: 49%;
}


#div-input > * {
    height: 1.8em;
    float: left;

  }

  #div-input i {
        width: 23px;
        height: 23px;
        cursor: pointer;
        position: absolute;
        right: 7px;
        top: 4px;
  }

  .justify{
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    justify-content: space-evenly;
  }



  @media (max-width: 999px){
    body{
        max-width: 999px;
    }
    form{
            
        width: 100%;
        height: 50vh;
    }
    .eye{
        margin: auto;
        position:relative;
        width: 80vw;
    }
    #div-input i{
        top: 8px;
    }
    .input{
        margin-bottom: 20px;
        padding: 8px;
        outline: none;
        background-color: white;
        border: 0;
        width: 100%;
        color: black;
    }
    h2{
        display: none;
    }
}

@media (min-height: 1100px){
    form{
        height: 40vh;
    }
}

@media (max-width: 400px){
    form{  
        width: 100%;
        height: 50vh;
    }
    .eye{
        margin: auto;
        position: relative;
        width: 80vw;
    }
    .input{
        margin-bottom: 20px;
        padding: 8px;
        outline: none;
        background-color: white;
        border: 0;
        width: 100%;
        height: 45px;
        color: black;
    }
    h2{
        display: none;
    }
#div-input .input{
    height: 45px;
}
    
    .nav-list{
        position: absolute;
        top: 15vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background: var(--yellow-solid);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
        
    }
    .mobile-menu {
        display: block;
    }
    .a-menu:hover{
        color: var(--pink-alt);
    }
    .a-menu-inicial:hover{
        color: var(--pink-alt);
    }
    nav{
        justify-content: space-between;
    }
}
